extends /layouts/no-header.pug

block content
  #hero
    #title
      .gothic dsfx3d
      small.open-sans &lt;a versatile dev /&gt;
    .icons
      image(src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/ionicons/svg/logo-linkedin.svg")
      image(src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/ionicons/svg/logo-github.svg")
      image(src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/ionicons/svg/logo-twitter.svg")
      image(src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/logo-codepen.svg")
      
