@import './includes/theme';
@import './includes/fonts';
@import './includes/responsive.mixin';

// @import './includes/debug';
@import './modules/globals';

#hero {
  border: solid 100px black;
  border-bottom-width: 100px;
  border-left: 0;
  border-right: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  @include breakpoint(sm) {
    flex-direction: row;
  }

  @keyframes fade-entry {
    from {
      opacity: 0;
      top: 10px;
    }
    to {
      opacity: 1;
      top: 0px;
    }
  }

  #title {
    text-align: center;
    div:first-child {
      position: relative;
      font-size: 3.5rem;
      animation: fade-entry 0.5s .5s backwards;
    }
    small {
      color: #afafaf;
    }
  }

  .icons {
    margin: 10px 20px;
    img {
      width: 64px;
      margin: auto 15px;
      cursor: pointer;

      @include breakpoint(sm) {
        width: 42px;
      }
    }
  }
}